/* CSS Personalizado */
.bg {
    background-image: url("https://img.freepik.com/vector-gratis/diseno-fondo-abstracto-formas-negras_1017-31904.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
